<html>
<head>
    <title> Confirm Details </title>
    <link rel="stylesheet" type="text/css" href="/book.css">
</head>

<body>
<div class="bg">

<h1> Book Ticket </h1>

<h2> You have selected $flight





</div>

</body>
</html>