<html>
<head>
    <title> Tickets </title>
    <link rel="stylesheet" type="text/css" href="/editticket.css">
</head>

<body>
<div class="bg">
    <h3> Hello, $username! Welcome back!

<br><br>
    <h1> Edit Tickets </h1>

</div>

</body>
</html>