body{
  font:1.2em normal Arial,sans-serif;
  color:#34495E;
}

h2{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2 em;
  margin:20px 0;
}

.flight{
    text-align:center;
    margin-top:100px;
}

input[type=submit] {
    border-radius: 15px;
    background-color: #663399;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}