body, html {
    height: 100%;
    margin: 0;
}

.bg {
  background-color: #ADD8E6;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    color: black;
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center
}